body {
}

iframe {
  position:absolute;
  left: 10px;
  transform: rotate(1.5deg);
  scale: 0.75;
  width: 800px;
  height: 900px;
  transition: ease-in .5s;
  border: none;
  z-index: 1;
}

.iframe2  {
  position: absolute;
  width: 200px;
  height: 300px;
  z-index: 2;
  transition: rotate(2deg) .5s;
  border: solid 1px black;
}

.iframe3 {
  position: absolute;
  width: 200px;
  height: 300px;
  z-index: 2;
}

.iframe4 {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}
